<?xml version="1.0"?>
<model>
  <name>3DR Iris with 3 depth cameras</name>
  <version>1.0</version>
  <sdf version='1.5'>iris_sextuple_depth_camera.sdf</sdf>
  <author>
   <name>Ryosuke Matsushima</name>
   <email>m.ryosuke@me.com</email>
  </author>
  <description>
    This is a model of the 3DR Iris Quadrotor with 6 depth cameras.
  </description>
</model>
